.landing_box {
  padding: 32px;
}
.landing {
  margin: auto;
  text-align: center;
  font-size: 125%;
  width: 45%;
}

.landing form {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.landing input,
.landing p {
  margin-bottom: 1em;
}

.landing input {
  background-color: #F02A6E;
  & input:hover {
    background-color: #f33e7d;
  }
}

.landing .error {
  color: maroon;
  position: absolute;
  bottom: -2em;
  width: 100%;
  text-align: center;
}
